DB_TYPE=mongo
DB_USER=user
DB_PASS=password
DB_NAME=fourio
DB_HOST=192.168.0.1
DB_PORT=27017

MONGO_URL=mongodb://user:password@192.168.0.1:27017/fourio
REDIS_URL=redis://192.168.0.1:6379/0

SPOTIFY_CLIENT_ID=yourclientid
SPOTIFY_CLIENT_SECRET=yoursecret
YOUTUBE_API_KEY=yourkey